@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
@import url(//fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic);
body {
    margin: 0px; padding: 0px;
    font-family: 'Roboto', serif;
    background: white;
}
canvas {
	position: absolute; top: 0px;
	left: 300px;
}
#options {
	position: absolute;
	background: rgba(0,0,0,0.1);
	border-right: 1px solid black;
	width: 300px; height: 100%;
	z-index: 2;
	text-align: center;
	float: left;
}
.title {
	text-align: center;
	font-size: 24px;
	line-height: 40px;
}
.hyperparameters {
	display: none;
}
#loading {
	position: absolute;
	left: 200px;
	margin-top: -50px;
}
input[type='range'], .slideValue {
	vertical-align: middle;
	font-size: 20px;
	font-weight: 700;
}